.panels {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__intro {
    width: 100vw;
    height: 50rem;
    margin-top: -10rem;
    margin-bottom: 8rem;
    background-image: linear-gradient(
        to right bottom,
        rgba($cl-gray, 0.7),
        rgba($cl-blue-dark, 0.8)
      ),
      url(/assets/images/hero-panels.jpg);
    background-size: cover;
    background-position-y: 20%;
    position: relative;

    @media (max-width: 350px) {
      background-position-x: 30%;
    }

    & p {
      width: 50%;
      position: absolute;
      bottom: 4rem;
      left: 50%;
      transform: translateX(-50%);
      font-size: $h4;
      color: $cl-white;

      @media (min-width: 1440px) {
        font-size: $h3;
      }

      @media (max-width: 800px) {
        width: 70%;
      }

      @media (max-width: 525px) {
        width: 80%;
      }
      @media (max-width: 525px) {
        font-size: $font-medium;
      }
    }
  }

  &__wrapper {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 8rem;

    @media (max-width: 1100px) {
      width: 90%;
    }
  }
}

.panel {
  @include glass-bg-light;
  display: flex;
  flex-direction: column;
  border-radius: 12px;

  &__img {
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }

  &__heading {
    width: 100%;
    font-size: $font-medium;
    font-weight: 700;
    color: $cl-white;
    padding-left: 2rem;
    margin-bottom: 2rem;
    margin-top: 0.6rem;
  }

  &__colors {
    width: 100%;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    overflow: hidden;
    opacity: 0;
    max-height: 0;

    transition: all 0.3s ease-out;

    &.show {
      opacity: 1;
    }
  }

  &__color {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 100%;

    &--img {
      width: 8rem;
      height: 8rem;
      border-radius: 10px;
    }

    &--text {
      color: $cl-white;
      font-size: $h3;
      text-transform: uppercase;
      font-family: sans-serif;
    }
  }

  &__toggle-button {
    width: 100%;
    padding: 0.6rem 2rem;
    cursor: pointer;
    border: none;
    background: transparent;
    color: $cl-white;
    font-family: "Raleway";
    font-size: $font-base;

    &--open {
      display: flex;
      gap: 1rem;
      align-items: center;

      transition: all 0.3s;
      &:hover {
        color: $cl-accent;
        transform: scale(1.1);
        margin-left: 1rem;
      }

      & img {
        width: 3.6rem;
        height: 3.6rem;
      }
    }

    &--close {
      width: 3.6rem;
      height: 3.6rem;

      transition: all 0.3s;
      &:hover {
        transform: scale(1.2);
      }
    }
  }

  &__prop {
    font-size: $font-base;
    color: $cl-white;
    margin-bottom: 1.2rem;
    padding-left: 2rem;
  }
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > .panel {
  /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 40px;
}
