// COLORS
$cl-white: #fff;
$cl-gray: #d6d6d6;
$cl-gray-light: #e2e2e2;
$cl-gray-dark: #404040;
$cl-blue-dark: #303547;
$cl-accent: #ffee32;
$cl-accent-2: #ffd100;
$cl-dark: #333533;
$cl-dark-2: #202020;
$cl-red: #a11d33;

//FONTS
$font-base: 1.8rem;
$font-small: 1.4rem;
$font-medium: 2.2rem;
$h1: 6.6rem;
$h2: 4.4rem;
$h3: 3rem;
$h4: 2.8rem;
