// COLORS
$cl-white: #fff;
$cl-gray: #d6d6d6;
$cl-gray-light: #e2e2e2;
$cl-gray-dark: #404040;
$cl-blue-dark: #303547;
$cl-accent: #ffee32;
$cl-accent-2: #ffd100;
$cl-dark: #333533;
$cl-dark-2: #202020;

//FONTS
$font-base: 1.8rem;
$font-small: 1.4rem;
$font-medium: 2.4rem;
$h1: 7.2rem;
$h2: 4.8rem;
$h3: 3.6rem;
$h4: 3rem;
