.nav {
  /* From https://css.glass */
  background: rgba(64, 64, 64, 0.4);
  box-shadow: 0 10px 20px rgba(214, 214, 214, 0.1);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border: 1px solid rgba(226, 226, 226, 0.2);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 30;
  width: 100%;
  height: 10rem;
  padding: 2rem 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1200px) {
  .nav {
    padding: 2rem 4rem;
  }
}
@media (max-width: 620px) {
  .nav {
    height: 12rem;
    padding: 2rem;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }
}
.nav__logo {
  color: #fff;
  font-size: 3rem;
}
@media (max-width: 350px) {
  .nav__logo {
    font-size: 2.8rem;
  }
}
.nav__list {
  list-style: none;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
@media (max-width: 875px) {
  .nav__list {
    justify-content: space-between;
  }
}
@media (max-width: 620px) {
  .nav__list {
    justify-content: space-evenly;
    width: 100%;
  }
}
@media (max-width: 350px) {
  .nav__list {
    justify-content: space-between;
  }
}
.nav__link {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s;
}
@media (max-width: 350px) {
  .nav__link {
    font-size: 1.4rem;
  }
}
.nav__link:hover {
  font-size: 2.2rem;
}
@media (max-width: 350px) {
  .nav__link:hover {
    font-size: 1.4rem;
  }
}
.nav__link.active {
  font-size: 2.2rem;
  text-decoration: underline;
}
@media (max-width: 350px) {
  .nav__link.active {
    font-size: 1.8rem;
  }
}
.nav__link--contact {
  border: 2px solid #ffd100;
  border-radius: 20px;
  padding: 1rem 2rem;
  transition: all 0.3s ease-in;
}
.nav__link--contact:hover {
  transform: scale(1.1);
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #fff;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin: 0 auto;
}

.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-bottom: 4px solid #ffd100;
  border-left: 4px solid transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader__wrapper {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery {
  background: linear-gradient(0deg, #333533 0%, #303547 100%);
  width: 80%;
  margin: 0 auto;
  margin-top: 5rem;
}
.gallery__link {
  display: block;
  position: relative;
  border-radius: 4px;
}
.gallery__img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 4px;
}

.slideshow__wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  margin-top: 4rem;
}

.slideshow__close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 12;
  transition: all 0.5s;
  font-size: 4.4rem;
  text-decoration: none;
  color: #fff;
  text-shadow: 0px 2px 2px #333533;
}
@media (max-width: 42em) {
  .slideshow__close {
    right: 3%;
  }
}
.slideshow__close:hover {
  transform: scale(1.2);
}

.my-masonry-grid { /* Not needed if autoprefixing */ /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > .gallery__link {
  /* change div to reference your elements you put in <Masonry> */
  background: #404040;
  margin-bottom: 30px;
}

.footer {
  /* From https://css.glass */
  background: rgba(64, 64, 64, 0.4);
  box-shadow: 0 10px 20px rgba(214, 214, 214, 0.1);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border: 1px solid rgba(226, 226, 226, 0.2);
  width: 100%;
  height: 20rem;
  position: static;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-left: 10rem;
}
@media (min-width: 1500px) {
  .footer {
    height: 30rem;
    gap: 12rem;
  }
}
@media (max-width: 1440px) {
  .footer {
    gap: 5rem;
  }
}
@media (max-width: 1060px) {
  .footer {
    flex-direction: column;
    align-items: flex-end;
    padding: 5rem 10rem;
    gap: 3rem;
    height: auto;
  }
}
@media (max-width: 750px) {
  .footer {
    padding: 2rem 4rem;
  }
}
@media (max-width: 620px) {
  .footer {
    align-items: center;
    padding: 2rem;
    height: 58rem;
  }
}
.footer__img {
  width: 30%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0.7;
  -webkit-clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
  filter: brightness(0.75);
}
@media (max-width: 1060px) {
  .footer__img {
    width: 55%;
  }
}
@media (max-width: 875px) {
  .footer__img {
    width: 70%;
  }
}
@media (max-width: 620px) {
  .footer__img {
    width: 100%;
    top: -15rem;
    -webkit-clip-path: none;
            clip-path: none;
  }
}
.footer__group {
  color: #fff;
}
@media (max-width: 320px) {
  .footer__group {
    font-size: 1.4rem;
  }
}
.footer__group--2, .footer__group--3 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-style: italic;
}
@media (max-width: 1060px) {
  .footer__group--1 {
    position: absolute;
    left: 20%;
  }
}
@media (max-width: 620px) {
  .footer__group--1 {
    position: static;
    align-self: center;
    margin-bottom: 8rem;
  }
}
.footer__link {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #e2e2e2;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.footer__link:hover {
  color: #ffd100;
}
.footer__copyright {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: #e2e2e2;
  font-size: 1.4rem;
}

.contact {
  width: 100%;
  padding-bottom: 10rem;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact__data {
  width: 100%;
  margin-bottom: 4rem;
}
.contact__data p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: #e2e2e2;
  font-size: 2.8rem;
  margin-bottom: 3rem;
}
@media (max-width: 490px) {
  .contact__data p {
    font-size: 2.2rem;
  }
}
@media (max-width: 385px) {
  .contact__data p {
    font-size: 1.8rem;
    gap: 0.6rem;
  }
}
.contact__form {
  background: rgba(226, 226, 226, 0.4);
  box-shadow: 0 10px 20px rgba(214, 214, 214, 0.1);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border: 1px solid rgba(226, 226, 226, 0.2);
  margin-bottom: 10rem;
  border-radius: 12px;
  width: 100%;
  padding: 6rem 4rem;
  display: flex;
  flex-direction: column;
  color: #404040;
}
@media (max-width: 770px) {
  .contact__form {
    margin-bottom: 15rem;
  }
}
@media (max-width: 490px) {
  .contact__form {
    padding: 3.4rem 1.4rem;
  }
}
.contact__form--label {
  font-size: 1.8rem;
  margin-top: -1.4rem;
  margin-left: 6rem;
  margin-bottom: 1.4rem;
  transition: all 0.5s;
}
@media (max-width: 490px) {
  .contact__form--label {
    margin-left: 5rem;
  }
}
.contact__form--input:-moz-placeholder-shown + .contact__form--label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-3rem);
}
.contact__form--input:placeholder-shown + .contact__form--label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-3rem);
}
.contact__form--input {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 2rem;
  border: none;
  border-radius: 10px;
  padding: 1rem;
  background: #d6d6d6;
  font-family: "Raleway";
  font-size: 1.8rem;
  color: #404040;
}
.contact__form--input:focus {
  outline: 1px solid #404040;
  background: #e2e2e2;
}
.contact__form--btn {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  width: 40%;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 1rem 0rem;
  font-size: 1.8rem;
  color: #e2e2e2;
  background: transparent;
  border: 2px solid #ffd100;
  border-radius: 20px;
  padding: 1rem 2rem;
  transition: all 0.3s ease-in;
}
.contact__form--btn:hover {
  transform: scale(1.1);
}

.panels {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.panels__intro {
  width: 100vw;
  height: 50rem;
  margin-top: -10rem;
  margin-bottom: 8rem;
  background-image: linear-gradient(to right bottom, rgba(214, 214, 214, 0.7), rgba(48, 53, 71, 0.8)), url(/assets/images/hero-panels.jpg);
  background-size: cover;
  background-position-y: 20%;
  position: relative;
}
@media (max-width: 350px) {
  .panels__intro {
    background-position-x: 30%;
  }
}
.panels__intro p {
  width: 50%;
  position: absolute;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.8rem;
  color: #fff;
}
@media (min-width: 1440px) {
  .panels__intro p {
    font-size: 3rem;
  }
}
@media (max-width: 800px) {
  .panels__intro p {
    width: 70%;
  }
}
@media (max-width: 525px) {
  .panels__intro p {
    width: 80%;
  }
}
@media (max-width: 525px) {
  .panels__intro p {
    font-size: 2.2rem;
  }
}
.panels__wrapper {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 8rem;
}
@media (max-width: 1100px) {
  .panels__wrapper {
    width: 90%;
  }
}

.panel {
  background: rgba(226, 226, 226, 0.4);
  box-shadow: 0 10px 20px rgba(214, 214, 214, 0.1);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border: 1px solid rgba(226, 226, 226, 0.2);
  display: flex;
  flex-direction: column;
  border-radius: 12px;
}
.panel__img {
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.panel__heading {
  width: 100%;
  font-size: 2.2rem;
  font-weight: 700;
  color: #fff;
  padding-left: 2rem;
  margin-bottom: 2rem;
  margin-top: 0.6rem;
}
.panel__colors {
  width: 100%;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow: hidden;
  opacity: 0;
  max-height: 0;
  transition: all 0.3s ease-out;
}
.panel__colors.show {
  opacity: 1;
}
.panel__color {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 100%;
}
.panel__color--img {
  width: 8rem;
  height: 8rem;
  border-radius: 10px;
}
.panel__color--text {
  color: #fff;
  font-size: 3rem;
  text-transform: uppercase;
  font-family: sans-serif;
}
.panel__toggle-button {
  width: 100%;
  padding: 0.6rem 2rem;
  cursor: pointer;
  border: none;
  background: transparent;
  color: #fff;
  font-family: "Raleway";
  font-size: 1.8rem;
}
.panel__toggle-button--open {
  display: flex;
  gap: 1rem;
  align-items: center;
  transition: all 0.3s;
}
.panel__toggle-button--open:hover {
  color: #ffee32;
  transform: scale(1.1);
  margin-left: 1rem;
}
.panel__toggle-button--open img {
  width: 3.6rem;
  height: 3.6rem;
}
.panel__toggle-button--close {
  width: 3.6rem;
  height: 3.6rem;
  transition: all 0.3s;
}
.panel__toggle-button--close:hover {
  transform: scale(1.2);
}
.panel__prop {
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 1.2rem;
  padding-left: 2rem;
}

.my-masonry-grid { /* Not needed if autoprefixing */ /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > .panel {
  /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 40px;
}

.hero {
  width: 100%;
  margin-top: -10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, #333533 0%, #303547 100%);
  position: relative;
}
.hero__content {
  padding: 0rem 5rem;
  color: #fff;
  letter-spacing: 1px;
  z-index: 10;
  position: absolute;
}
@media (max-width: 450px) {
  .hero__content {
    padding: 2rem;
  }
}
.hero__content h1 {
  font-size: 6.6rem;
  margin-bottom: 2rem;
}
@media (max-width: 620px) {
  .hero__content h1 {
    font-size: 4.4rem;
  }
}
@media (max-width: 360px) {
  .hero__content h1 {
    font-size: 3rem;
  }
}
.hero__content h4 {
  font-size: 2.8rem;
  margin-bottom: 2rem;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 620px) {
  .hero__content h4 {
    font-size: 2.2rem;
  }
}
@media (max-width: 360px) {
  .hero__content h4 {
    font-size: 1.8rem;
  }
}
.hero__carousel {
  width: 100vw;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 4px 30px 2px rgba(226, 226, 226, 0.3);
}
.hero__slide-container {
  width: 100%;
  height: 75rem;
  position: relative;
}
@media (min-width: 1600px) {
  .hero__slide-container {
    height: 90rem;
  }
}
@media (max-width: 1440px) {
  .hero__slide-container {
    height: 60rem;
  }
}
.hero__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
.hero__img.active {
  opacity: 0.5;
  transform: scale(1);
}
.hero__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: white;
  font-size: 2rem;
  padding: 0.5rem;
  cursor: pointer;
  z-index: 10;
}
.hero__button--prev {
  left: 4rem;
  z-index: 22;
}
@media (min-width: 1500px) {
  .hero__button--prev {
    left: 10rem;
  }
}
@media (max-width: 620px) {
  .hero__button--prev {
    left: 1rem;
  }
}
.hero__button--next {
  right: 4rem;
  z-index: 22;
}
@media (min-width: 1500px) {
  .hero__button--next {
    right: 10rem;
  }
}
@media (max-width: 620px) {
  .hero__button--next {
    right: 1rem;
  }
}

.properties {
  background: linear-gradient(0deg, #303547 0%, #333533 100%);
  color: #e2e2e2;
  padding-bottom: 10rem;
}
.properties__wrapper {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(10rem, 30rem));
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1500px) {
  .properties__wrapper {
    grid-template-columns: repeat(3, minmax(10rem, 50rem));
  }
}
@media (max-width: 620px) {
  .properties__wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 5rem 0rem;
  }
}
@media (max-width: 400px) {
  .properties__wrapper {
    padding-bottom: 0;
  }
}

.card {
  height: 20rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  background: transparent;
  border: none;
  color: #fff;
}
@media (min-width: 1500px) {
  .card {
    height: 40rem;
  }
}
@media (max-width: 940px) {
  .card {
    height: 28rem;
  }
}
@media (max-width: 620px) {
  .card {
    width: 60%;
  }
}
@media (max-width: 500px) {
  .card {
    width: 80%;
  }
}
@media (max-width: 400px) {
  .card {
    width: 90%;
  }
}
.card__side {
  height: 20rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
}
@media (min-width: 1500px) {
  .card__side {
    height: 40rem;
  }
}
@media (max-width: 940px) {
  .card__side {
    height: 28rem;
  }
}
.card__side--front {
  background: rgba(226, 226, 226, 0.4);
  box-shadow: 0 10px 20px rgba(214, 214, 214, 0.1);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border: 1px solid rgba(226, 226, 226, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  font-size: 2.2rem;
}
.card__side--back {
  transform: rotateY(180deg);
  /* From https://css.glass */
  background: rgba(64, 64, 64, 0.4);
  box-shadow: 0 10px 20px rgba(214, 214, 214, 0.1);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border: 1px solid rgba(226, 226, 226, 0.2);
  color: #fff;
  font-size: 1.4rem;
  padding: 0rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  line-height: 1.1;
}
@media (min-width: 1500px) {
  .card__side--back {
    font-size: 2.2rem;
  }
}
@media (max-width: 940px) {
  .card__side--back {
    padding: 0rem 0.8rem;
  }
}
@media (max-width: 620px) {
  .card__side--back {
    padding: 0rem 0.6rem;
    font-size: 1.8rem;
    line-height: 1;
  }
}
@media (min-width: 500px) {
  .card:hover .card__side--front {
    transform: rotateY(-180deg);
  }
  .card:hover .card__side--back {
    transform: rotateY(0);
  }
}
.card.active .card__side--front {
  transform: rotateY(-180deg);
}
.card.active .card__side--back {
  transform: rotateY(0);
}

ion-icon {
  font-size: 4.4rem;
  color: #fff;
}
@media (min-width: 1500px) {
  ion-icon {
    font-size: 6.6rem;
  }
}
@media (max-width: 420px) {
  ion-icon {
    font-size: 3rem;
  }
}

.presentation {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: repeat(5, 0.8fr);
}
@media (max-width: 1100px) {
  .presentation {
    row-gap: 5rem;
  }
}
@media (max-width: 670px) {
  .presentation {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }
}
.presentation__wrapper {
  background: linear-gradient(0deg, #303547 0%, #333533 100%);
  width: 100%;
  padding-bottom: 10rem;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}
.presentation__info {
  grid-row: 2/3;
  grid-column: 1/-1;
  align-self: center;
  justify-self: center;
}
.presentation__offer {
  grid-row: 4/5;
  grid-column: 1/3;
  align-self: center;
  justify-self: center;
}
.presentation__info, .presentation__offer {
  color: #e2e2e2;
}
@media (max-width: 670px) {
  .presentation__info, .presentation__offer {
    padding-left: 3rem;
  }
}
.presentation__info h2, .presentation__offer h2 {
  font-size: 2.2rem;
  margin-bottom: 2rem;
}
@media (min-width: 1500px) {
  .presentation__info h2, .presentation__offer h2 {
    font-size: 3rem;
  }
}
.presentation__info li, .presentation__offer li {
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
  line-height: 1.2;
}
@media (min-width: 1500px) {
  .presentation__info li, .presentation__offer li {
    font-size: 2.8rem;
  }
}
.presentation__info li span, .presentation__offer li span {
  font-weight: 700;
}
.presentation__cta--btn {
  border: 2px solid #ffd100;
  border-radius: 20px;
  padding: 1rem 2rem;
  transition: all 0.3s ease-in;
  color: #fff;
  text-decoration: none;
  grid-row: 4/5;
  display: inline;
  align-self: center;
  justify-self: center;
  text-align: center;
}
.presentation__cta--btn:hover {
  transform: scale(1.1);
}
@media (min-width: 1500px) {
  .presentation__cta--btn {
    font-size: 3rem;
    justify-self: start;
  }
}
.presentation__img {
  width: 100%;
}
.presentation__components {
  grid-column: 1/-1;
  grid-row: 1/2;
}
.presentation__model {
  grid-row: 3/4;
  grid-column: 2/4;
}
.presentation__size {
  grid-row: 5/6;
  grid-column: 1/3;
}
.presentation__text {
  color: #e2e2e2;
}
.presentation__text--size {
  grid-row: 5/6;
  font-size: 2.2rem;
  align-self: center;
  text-align: center;
}
.presentation__text--model {
  grid-row: 3/4;
  align-self: center;
  line-height: 1.3;
}
@media (max-width: 620px) {
  .presentation__text--model {
    width: 80%;
  }
}

.tutorial {
  background: linear-gradient(0deg, #333533 0%, #303547 100%);
  width: 100%;
  padding: 0rem 15rem;
  padding-bottom: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}
@media (max-width: 1060px) {
  .tutorial {
    padding: 0rem 5rem;
    padding-bottom: 8rem;
    gap: 4rem;
  }
}
@media (max-width: 620px) {
  .tutorial {
    flex-direction: column;
  }
}
.tutorial__img {
  width: 50%;
}
@media (max-width: 620px) {
  .tutorial__img {
    width: 80%;
  }
}
@media (max-width: 400px) {
  .tutorial__img {
    width: 100%;
  }
}
.tutorial__steps {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  position: relative;
}
.tutorial__steps::before {
  content: "";
  width: 1px;
  height: 120%;
  background: #e2e2e2;
  position: absolute;
  top: -10%;
}
@media (max-width: 1275px) {
  .tutorial__steps::before {
    display: none;
  }
}
.tutorial__step {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
@media (min-width: 1500px) {
  .tutorial__step {
    font-size: 2.8rem;
  }
}
@media (max-width: 400px) {
  .tutorial__step {
    flex-direction: column;
  }
}
.tutorial__step--text {
  color: #e2e2e2;
  width: 60%;
}
@media (max-width: 400px) {
  .tutorial__step--text {
    width: 100%;
  }
}
.tutorial__step--text span {
  font-size: 2.8rem;
}
@media (min-width: 1500px) {
  .tutorial__step--text span {
    font-size: 3rem;
  }
}
.tutorial__step--img {
  width: 10rem;
  border-radius: 4px;
}
@media (min-width: 1500px) {
  .tutorial__step--img {
    width: 15rem;
  }
}
@media (max-width: 620px) {
  .tutorial__step--img {
    width: 30%;
  }
}
@media (max-width: 400px) {
  .tutorial__step--img {
    width: 80%;
  }
}

.slider {
  background: linear-gradient(0deg, #333533 0%, #303547 100%);
  width: 100%;
  padding-bottom: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
@media (max-width: 875px) {
  .slider {
    padding-bottom: 20rem;
  }
}
@media (max-width: 620px) {
  .slider {
    padding-bottom: 14rem;
  }
}
.slider__carousel {
  width: 50%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
@media (max-width: 700px) {
  .slider__carousel {
    width: 80%;
  }
}
.slider__panel {
  background: rgba(226, 226, 226, 0.4);
  box-shadow: 0 10px 20px rgba(214, 214, 214, 0.1);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border: 1px solid rgba(226, 226, 226, 0.2);
  height: 40rem;
  display: flex;
  flex: 0 0 100%;
  flex-direction: column;
  border-radius: 12px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  position: absolute;
}
.slider__panel.active {
  opacity: 1;
  position: relative;
}
@media (max-width: 700px) {
  .slider__panel {
    height: 35rem;
  }
}
.slider__panel--img {
  width: 100%;
  height: 30rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
@media (max-width: 700px) {
  .slider__panel--img {
    height: 25rem;
  }
}
.slider__panel--heading {
  width: 100%;
  font-size: 3rem;
  font-weight: 700;
  color: white;
  padding-left: 2rem;
  margin-bottom: 2rem;
  margin-top: 0.6rem;
}
@media (max-width: 700px) {
  .slider__panel--heading {
    font-size: 2.2rem;
  }
}
.slider__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: white;
  font-size: 2rem;
  padding: 0.5rem;
  cursor: pointer;
  z-index: 10;
}
.slider__btn--prev {
  left: 0;
  z-index: 22;
}
.slider__btn--next {
  right: 0;
  z-index: 22;
}
.slider__cta--btn {
  text-decoration: none;
  color: #fff;
  border: 2px solid #ffd100;
  border-radius: 20px;
  padding: 1rem 2rem;
  transition: all 0.3s ease-in;
}
.slider__cta--btn:hover {
  transform: scale(1.1);
}
@media (min-width: 1500px) {
  .slider__cta--btn {
    font-size: 3rem;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media (max-width: 770px) {
  html {
    font-size: 50%;
  }
}

body {
  width: 100%;
  height: 100dvh;
  font-family: "Raleway", sans-serif;
  font-size: 1.8rem;
  position: relative;
}
@media (min-width: 1500px) {
  body {
    font-size: 2.2rem;
  }
}

.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, #333533 0%, #303547 100%);
  position: relative;
}

.visible {
  display: inline;
}

.hidden {
  display: none;
}

.error-message {
  font-size: 1.4rem;
  margin-left: 6rem;
  margin-bottom: 0.6rem;
  color: #a11d33;
  font-weight: bold;
}

.submission-message {
  margin-top: 3rem;
  text-align: center;
  color: #ffee32;
  font-weight: 600;
}/*# sourceMappingURL=index.css.map */