.nav {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 10px 20px rgba(214, 214, 214, 0.1);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border: 1px solid rgba(226, 226, 226, 0.2);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 30;
  width: 100%;
  height: 10rem;
  padding: 2rem 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  color: #fff;
  font-size: 3.6rem;
}
.nav__list {
  list-style: none;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav__link {
  text-decoration: none;
  color: #fff;
}
.nav__link.active {
  font-size: 2.4rem;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #fff;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin: 0 auto;
}

.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-bottom: 4px solid #ffd100;
  border-left: 4px solid transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.gallery {
  background: linear-gradient(0deg, #333533 0%, #303547 100%);
  width: 80%;
  margin: 0 auto;
  margin-top: 5rem;
}
.gallery__link {
  display: block;
  position: relative;
}
.gallery__img {
  width: 100%;
  height: auto;
  display: block;
}

.slideshow__wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  margin-top: 4rem;
}

.slideshow__close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 12;
  transition: all 0.5s;
  font-size: 4.8rem;
  text-decoration: none;
  color: #fff;
  text-shadow: 0px 2px 2px #333533;
}
@media (max-width: 42em) {
  .slideshow__close {
    right: 3%;
  }
}
.slideshow__close:hover {
  transform: scale(1.2);
}

.my-masonry-grid { /* Not needed if autoprefixing */ /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > .gallery__link {
  /* change div to reference your elements you put in <Masonry> */
  background: #404040;
  margin-bottom: 30px;
}

.hero {
  width: 100%;
  margin-top: -10rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: linear-gradient(0deg, #333533 0%, #303547 100%);
  position: relative;
}
.hero__content {
  padding: 0rem 5rem;
  color: #e2e2e2;
  letter-spacing: 1px;
  position: absolute;
  left: 10%;
  z-index: 10;
}
.hero__content h1 {
  font-size: 7.2rem;
  margin-bottom: 2rem;
}
.hero__content h4 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.hero__img {
  width: 50%;
  height: auto;
  opacity: 0.4;
  -webkit-clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
}

.properties {
  background: linear-gradient(0deg, #303547 0%, #333533 100%);
  color: #e2e2e2;
  padding-top: 10rem;
  padding-bottom: 10rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(10rem, 30rem));
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.card {
  height: 20rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
}
.card__side {
  height: 20rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
}
.card__side--front {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 10px 20px rgba(214, 214, 214, 0.1);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border: 1px solid rgba(226, 226, 226, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.card__side--back {
  transform: rotateY(180deg);
  background: #d6d6d6;
  color: #333533;
  font-size: 1.4rem;
  padding: 3rem 2rem;
  text-align: justify;
  line-height: 1.1;
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
}

ion-icon {
  font-size: 4.8rem;
  color: #fff;
}

.presentation {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: repeat(3, 0.8fr);
}
.presentation__wrapper {
  background: linear-gradient(0deg, #303547 0%, #333533 100%);
  width: 100%;
  padding-bottom: 10rem;
}
.presentation__img {
  width: 100%;
}
.presentation__components {
  grid-column: 1/3;
  grid-row: 1/2;
}
.presentation__model {
  grid-row: 2/3;
  grid-column: 2/4;
}
.presentation__size {
  grid-row: 3/4;
  grid-column: 1/3;
}
.presentation__text {
  color: #e2e2e2;
}
.presentation__text--size {
  grid-row: 3/4;
  font-size: 2.4rem;
  align-self: center;
  text-align: center;
}
.presentation__text--model {
  grid-row: 2/3;
  align-self: center;
  line-height: 1.3;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100dvh;
  font-family: "Raleway", sans-serif;
  font-size: 1.8rem;
  position: relative;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, #333533 0%, #303547 100%);
}

.visible {
  display: inline;
}

.hidden {
  display: none;
}/*# sourceMappingURL=index.css.map */