.nav {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 10px 20px rgba(214, 214, 214, 0.1);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border: 1px solid rgba(226, 226, 226, 0.2);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 30;
  width: 100%;
  height: 10rem;
  padding: 2rem 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1200px) {
  .nav {
    padding: 2rem 4rem;
  }
}
@media (max-width: 620px) {
  .nav {
    height: 12rem;
    padding: 2rem;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }
}
.nav__logo {
  color: #fff;
  font-size: 3.6rem;
}
@media (max-width: 350px) {
  .nav__logo {
    font-size: 3rem;
  }
}
.nav__list {
  list-style: none;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
@media (max-width: 875px) {
  .nav__list {
    justify-content: space-between;
  }
}
@media (max-width: 620px) {
  .nav__list {
    justify-content: space-evenly;
    width: 100%;
  }
}
@media (max-width: 350px) {
  .nav__list {
    justify-content: center;
    gap: 1rem;
  }
}
.nav__link {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s;
}
@media (max-width: 350px) {
  .nav__link {
    font-size: 1.4rem;
  }
}
.nav__link:hover {
  font-size: 2.2rem;
}
@media (max-width: 350px) {
  .nav__link:hover {
    font-size: 1.4rem;
  }
}
.nav__link.active {
  font-size: 2.4rem;
}
@media (max-width: 350px) {
  .nav__link.active {
    font-size: 1.8rem;
  }
}
.nav__link--contact {
  border: 2px solid #ffd100;
  border-radius: 20px;
  padding: 1rem 2rem;
  transition: all 0.3s ease-in;
}
.nav__link--contact:hover {
  transform: scale(1.1);
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #fff;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin: 0 auto;
}

.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-bottom: 4px solid #ffd100;
  border-left: 4px solid transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader__wrapper {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery {
  background: linear-gradient(0deg, #333533 0%, #303547 100%);
  width: 80%;
  margin: 0 auto;
  margin-top: 5rem;
}
.gallery__link {
  display: block;
  position: relative;
  border-radius: 4px;
}
.gallery__img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 4px;
}

.slideshow__wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  margin-top: 4rem;
}

.slideshow__close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 12;
  transition: all 0.5s;
  font-size: 4.8rem;
  text-decoration: none;
  color: #fff;
  text-shadow: 0px 2px 2px #333533;
}
@media (max-width: 42em) {
  .slideshow__close {
    right: 3%;
  }
}
.slideshow__close:hover {
  transform: scale(1.2);
}

.my-masonry-grid { /* Not needed if autoprefixing */ /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > .gallery__link {
  /* change div to reference your elements you put in <Masonry> */
  background: #404040;
  margin-bottom: 30px;
}

.footer {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 10px 20px rgba(214, 214, 214, 0.1);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border: 1px solid rgba(226, 226, 226, 0.2);
  width: 100%;
  height: 20rem;
  position: static;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  padding-left: 20rem;
}
@media (min-width: 1500px) {
  .footer {
    height: 30rem;
    gap: 20rem;
  }
}
@media (max-width: 1440px) {
  .footer {
    gap: 5rem;
  }
}
@media (max-width: 1060px) {
  .footer {
    flex-direction: column;
    align-items: flex-end;
    padding: 5rem 10rem;
    gap: 3rem;
    height: auto;
  }
}
@media (max-width: 750px) {
  .footer {
    padding: 2rem 4rem;
  }
}
@media (max-width: 620px) {
  .footer {
    align-items: center;
    padding: 2rem;
  }
}
.footer__img {
  width: 20%;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.7;
  -webkit-clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
  filter: brightness(0.75);
}
@media (max-width: 1060px) {
  .footer__img {
    width: 55%;
    z-index: -1;
  }
}
@media (max-width: 875px) {
  .footer__img {
    width: 75%;
  }
}
@media (max-width: 620px) {
  .footer__img {
    width: 95%;
  }
}
@media (max-width: 620px) {
  .footer__img {
    width: 100%;
    -webkit-clip-path: none;
            clip-path: none;
  }
}
.footer__group {
  color: #fff;
}
@media (max-width: 320px) {
  .footer__group {
    font-size: 1.4rem;
  }
}
.footer__group--2, .footer__group--3 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-style: italic;
}
@media (max-width: 1060px) {
  .footer__group--1 {
    position: absolute;
    left: 20%;
  }
}
@media (max-width: 620px) {
  .footer__group--1 {
    position: static;
    align-self: center;
  }
}
.footer__link {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #e2e2e2;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.footer__link:hover {
  color: #ffd100;
}
.footer__copyright {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: #e2e2e2;
  font-size: 1.4rem;
}

.contact {
  width: 100%;
  padding-bottom: 10rem;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact__data {
  width: 100%;
}
.contact__data p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: #e2e2e2;
  font-size: 3rem;
  margin-bottom: 3rem;
}

.hero {
  width: 100%;
  margin-top: -10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, #333533 0%, #303547 100%);
  position: relative;
}
.hero__content {
  padding: 0rem 5rem;
  color: #fff;
  letter-spacing: 1px;
  z-index: 10;
  position: absolute;
}
@media (max-width: 450px) {
  .hero__content {
    padding: 2rem;
  }
}
.hero__content h1 {
  font-size: 7.2rem;
  margin-bottom: 2rem;
}
@media (max-width: 620px) {
  .hero__content h1 {
    font-size: 4.8rem;
  }
}
@media (max-width: 360px) {
  .hero__content h1 {
    font-size: 3.6rem;
  }
}
.hero__content h4 {
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 620px) {
  .hero__content h4 {
    font-size: 2.4rem;
  }
}
@media (max-width: 360px) {
  .hero__content h4 {
    font-size: 1.8rem;
  }
}
.hero__carousel {
  width: 100vw;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 4px 30px 2px rgba(226, 226, 226, 0.3);
}
.hero__slide-container {
  width: 100%;
  height: 75rem;
  position: relative;
}
@media (min-width: 1500px) {
  .hero__slide-container {
    height: 120rem;
  }
}
@media (max-width: 1440px) {
  .hero__slide-container {
    height: 60rem;
  }
}
.hero__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
.hero__img.active {
  opacity: 0.5;
  transform: scale(1);
}
.hero__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: white;
  font-size: 2rem;
  padding: 0.5rem;
  cursor: pointer;
  z-index: 10;
}
.hero__button--prev {
  left: 4rem;
  z-index: 22;
}
@media (min-width: 1500px) {
  .hero__button--prev {
    left: 10rem;
  }
}
@media (max-width: 620px) {
  .hero__button--prev {
    left: 1rem;
  }
}
.hero__button--next {
  right: 4rem;
  z-index: 22;
}
@media (min-width: 1500px) {
  .hero__button--next {
    right: 10rem;
  }
}
@media (max-width: 620px) {
  .hero__button--next {
    right: 1rem;
  }
}

.properties {
  background: linear-gradient(0deg, #303547 0%, #333533 100%);
  color: #e2e2e2;
  padding-top: 10rem;
  padding-bottom: 24rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(10rem, 30rem));
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1500px) {
  .properties {
    grid-template-columns: repeat(3, minmax(10rem, 50rem));
  }
}
@media (max-width: 620px) {
  .properties {
    width: 95%;
    margin: 0 auto;
    grid-template-columns: repeat(2, minmax(10rem, 30rem));
  }
}
@media (max-width: 400px) {
  .properties {
    display: flex;
    flex-direction: column;
    padding: 5rem 0rem;
  }
}

.card {
  height: 20rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
}
@media (min-width: 1500px) {
  .card {
    height: 40rem;
  }
}
@media (max-width: 400px) {
  .card {
    width: 70%;
    height: 28rem;
  }
}
@media (max-width: 620px) {
  .card:last-child {
    grid-column: 1/span2;
    width: 50%;
    justify-self: center;
  }
}
@media (max-width: 420px) {
  .card__heading {
    font-size: 1.8rem;
  }
}
.card__side {
  height: 20rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
}
@media (min-width: 1500px) {
  .card__side {
    height: 40rem;
  }
}
@media (max-width: 400px) {
  .card__side {
    height: 28rem;
  }
}
.card__side--front {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 10px 20px rgba(214, 214, 214, 0.1);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border: 1px solid rgba(226, 226, 226, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.card__side--back {
  transform: rotateY(180deg);
  background: #d6d6d6;
  color: #333533;
  font-size: 1.4rem;
  padding: 3rem 2rem;
  text-align: justify;
  line-height: 1.1;
}
@media (min-width: 1500px) {
  .card__side--back {
    font-size: 2.4rem;
  }
}
@media (max-width: 620px) {
  .card__side--back {
    padding: 1rem;
    text-align: left;
  }
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
}

ion-icon {
  font-size: 4.8rem;
  color: #fff;
}
@media (min-width: 1500px) {
  ion-icon {
    font-size: 7.2rem;
  }
}
@media (max-width: 420px) {
  ion-icon {
    font-size: 3.6rem;
  }
}

.presentation {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: repeat(3, 0.8fr);
}
@media (max-width: 620px) {
  .presentation {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }
}
.presentation__wrapper {
  background: linear-gradient(0deg, #303547 0%, #333533 100%);
  width: 100%;
  padding-bottom: 10rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}
.presentation__btn {
  text-decoration: none;
  color: #fff;
  border: 2px solid #ffd100;
  border-radius: 20px;
  padding: 1rem 2rem;
  transition: all 0.3s ease-in;
}
.presentation__btn:hover {
  transform: scale(1.1);
}
@media (min-width: 1500px) {
  .presentation__btn {
    font-size: 3.6rem;
  }
}
.presentation__img {
  width: 100%;
}
.presentation__components {
  grid-column: 1/3;
  grid-row: 1/2;
}
.presentation__model {
  grid-row: 2/3;
  grid-column: 2/4;
}
.presentation__size {
  grid-row: 3/4;
  grid-column: 1/3;
}
.presentation__text {
  color: #e2e2e2;
}
.presentation__text--size {
  grid-row: 3/4;
  font-size: 2.4rem;
  align-self: center;
  text-align: center;
}
.presentation__text--model {
  grid-row: 2/3;
  align-self: center;
  line-height: 1.3;
}
@media (max-width: 620px) {
  .presentation__text--model {
    width: 80%;
  }
}

.tutorial {
  background: linear-gradient(0deg, #333533 0%, #303547 100%);
  width: 100%;
  padding: 10rem 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}
@media (max-width: 1060px) {
  .tutorial {
    padding: 10rem 5rem;
    gap: 4rem;
  }
}
@media (max-width: 620px) {
  .tutorial {
    flex-direction: column;
  }
}
.tutorial__img {
  width: 50%;
}
@media (max-width: 620px) {
  .tutorial__img {
    width: 80%;
  }
}
@media (max-width: 400px) {
  .tutorial__img {
    width: 100%;
  }
}
.tutorial__steps {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  position: relative;
}
.tutorial__steps::before {
  content: "";
  width: 1px;
  height: 120%;
  background: #e2e2e2;
  position: absolute;
  top: -10%;
}
@media (max-width: 1275px) {
  .tutorial__steps::before {
    display: none;
  }
}
.tutorial__step {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
@media (max-width: 400px) {
  .tutorial__step {
    flex-direction: column;
  }
}
.tutorial__step--text {
  color: #e2e2e2;
  width: 60%;
}
@media (max-width: 400px) {
  .tutorial__step--text {
    width: 90%;
  }
}
.tutorial__step--text span {
  font-size: 3rem;
}
@media (min-width: 1500px) {
  .tutorial__step--text span {
    font-size: 4.8rem;
  }
}
@media (min-width: 1500px) {
  .tutorial__step--text {
    font-size: 3rem;
  }
}
.tutorial__step--img {
  width: 10rem;
  border-radius: 4px;
}
@media (min-width: 1500px) {
  .tutorial__step--img {
    width: 15rem;
  }
}
@media (max-width: 620px) {
  .tutorial__step--img {
    width: 30%;
  }
}
@media (max-width: 400px) {
  .tutorial__step--img {
    width: 90%;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media (max-width: 770px) {
  html {
    font-size: 50%;
  }
}

body {
  width: 100%;
  height: 100dvh;
  font-family: "Raleway", sans-serif;
  font-size: 1.8rem;
  position: relative;
}
@media (min-width: 1500px) {
  body {
    font-size: 2.4rem;
  }
}

.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, #333533 0%, #303547 100%);
  position: relative;
}

.visible {
  display: inline;
}

.hidden {
  display: none;
}/*# sourceMappingURL=index.css.map */