.properties {
  background: linear-gradient(
    0deg,
    rgba($cl-blue-dark, 1) 0%,
    rgba($cl-dark, 1) 100%
  );
  color: $cl-gray-light;
  padding-bottom: 10rem;

  &__wrapper {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(10rem, 30rem));
    gap: 2rem;
    align-items: center;
    justify-content: center;

    @media (min-width: 1500px) {
      grid-template-columns: repeat(3, minmax(10rem, 50rem));
    }

    @media (max-width: 620px) {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding: 5rem 0rem;
    }

    @media (max-width: 400px) {
      padding-bottom: 0;
    }
  }
}

.card {
  height: 20rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  background: transparent;
  border: none;
  color: $cl-white;

  @media (min-width: 1500px) {
    height: 40rem;
  }
  @media (max-width: 940px) {
    height: 28rem;
  }

  @media (max-width: 620px) {
    width: 60%;
  }

  @media (max-width: 500px) {
    width: 80%;
  }

  @media (max-width: 400px) {
    width: 90%;
  }

  &__side {
    height: 20rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;

    @media (min-width: 1500px) {
      height: 40rem;
    }
    @media (max-width: 940px) {
      height: 28rem;
    }

    &--front {
      @include glass-bg-light;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 4rem;
      font-size: $font-medium;
    }

    &--back {
      transform: rotateY(180deg);
      @include glass-bg;
      color: $cl-white;

      font-size: $font-small;
      padding: 0rem 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: left;
      line-height: 1.1;

      @media (min-width: 1500px) {
        font-size: $font-medium;
      }
      @media (max-width: 940px) {
        padding: 0rem 0.8rem;
      }
      @media (max-width: 620px) {
        padding: 0rem 0.6rem;
        font-size: $font-base;
        line-height: 1;
      }
    }
  }

  @media (min-width: 500px) {
    &:hover &__side--front {
      transform: rotateY(-180deg);
    }

    &:hover &__side--back {
      transform: rotateY(0);
    }
  }

  &.active &__side--front {
    transform: rotateY(-180deg);
  }

  &.active &__side--back {
    transform: rotateY(0);
  }
}

ion-icon {
  font-size: $h2;
  color: $cl-white;

  @media (min-width: 1500px) {
    font-size: $h1;
  }
  @media (max-width: 420px) {
    font-size: $h3;
  }
}
